:root {
	--yellow: hsl(47, 88%, 63%);
	--white: hsl(0, 0%, 100%);
	---gray-500: hsl(0, 0%, 42%)
	--gray-950: hsl(0, 0%, 7%)
}

body {
	display: flex;
	font-family: 'Figtree', Arial, Helvetica, sans-serif;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	background-color: var(--yellow);
}

.card{
	background-color: var(--white);
	padding: 24px;
	width: 300px;
	height: max-content;
	min-width: 320px;
	border-radius: 12px;
	border: solid 1px ;
	border-color: var(---gray-500);
	/* max-width: 100%; */
	box-sizing: border-box;
}

.card-img{
	border-radius: 12px;
	width: 100%;
}

.card section{
	/* padding: 12px; */
}

.end-img {
	width: 35px;
	padding: 10px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
